<br>
<br>
<br>
<br>
<h1>Recipes:</h1>
<ol>
  <% @recipes.each_with_index do |recipe, index| %>
    <li>
      <%= "#{recipe.completed == "true" || recipe.completed == true ? "[x]" : "[_]"}"%>
      <%= "#{recipe.name} (#{recipe.prep_time}) (#{recipe.difficulty})"%>
     <!--  recipe.name recipe.prep_time recipe.difficulty-->
    </li>
  <% end %>
</ol>

<h1>Enter the index of the recipe you want to delete</h1>

<form method="POST" action="/remove">
  <p>Name: <input type="text" name="index"></p>
  <input type="submit">
</form>
